<a href="https://colab.research.google.com/github/Thitichaya2000/data_viz_2022/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Present Project กลุ่ม
ทำ Dashboard ของ Data Covid (ตั้งแต่วันที่ 12/01/2020 - 18/03/2022) เล่ามุมมองที่เราเลือกเอง + ใช้ข้อมูลภูมิภาค + ข้อมูลอื่นที่เลือกเอง

เริ่มพรีเซ็นต์ 25 มีค 30 มีค 1 เมษา

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os 
path = '/content/drive/My Drive/Project_dataviz22'

In [3]:
import pandas as pd
import numpy as np

คำอธิบาย
* No	รหัสผู้ป่วย
* Age	อายุของผู้ป่วย
* Sex	เพศผู้ป่วย
* Nationality	สัญชาติ
* Province of isolation	จังหวัดที่รักษาตัว
* Notification Date	วันที่กระทรวงได้รับรายงาน
* Announce Date	วันที่แถลงข่าว
* Province of onset		จังหวัดที่เริ่มพบว่าตัวเองมีอาการป่วย
* District of onset		อำเภอที่เริ่มพบว่าตัวเองมีอาการป่วย
* risk สถานที่

## ตารางข้อมูล covid ปี2020

In [4]:
data_covid2020 =  pd.read_csv(os.path.join(path,'confirmed-cases.csv'))
data_covid2020

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

ลบค่าว่างออกจากข้อมูล

In [5]:
data_covid2020 = data_covid2020.fillna(method="bfill")

In [6]:
data_covid20 = data_covid2020.dropna()
data_covid20

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,4/3/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,เมือง
1,2,17/1/2020,4/3/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,เมือง
2,3,22/1/2020,4/3/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,4/3/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,หัวหิน
4,5,24/1/2020,4/3/2020,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,หัวหิน
...,...,...,...,...,...,...,...,...,...,...,...
839391,839392,12/8/2021,11/8/2021,หญิง,83.0,ปี,Thailand,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,วัฒนา
839392,839393,12/8/2021,11/8/2021,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,บางขุนเทียน
839393,839394,12/8/2021,11/8/2021,หญิง,43.0,ปี,Thailand,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,ประเวศ
839394,839395,12/8/2021,11/8/2021,หญิง,74.0,ปี,Thailand,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,ธนบุรี
839395,839396,12/8/2021,11/8/2021,ชาย,29.0,ปี,Thailand,กรุงเทพมหานคร,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,กรุงเทพมหานคร,ประเวศ

## ตารางข้อมูล covid ปี2021(1)

In [7]:
data_covid2021_1 =  pd.read_csv(os.path.join(path,'confirmed-cases-since-120864.csv'))
data_covid2021_1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

ลบค่าว่างออกจากข้อมูล

In [8]:
data_covid21_1 = data_covid2021_1.dropna()
data_covid21_1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
249,817239,12/8/2021,11/8/2021,ชาย,48.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
250,817240,12/8/2021,11/8/2021,หญิง,19.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
251,817241,12/8/2021,11/8/2021,หญิง,37.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
252,817242,12/8/2021,11/8/2021,ชาย,46.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
253,817243,12/8/2021,11/8/2021,ชาย,60.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
...,...,...,...,...,...,...,...,...,...,...,...
1041962,1858952,25/10/2021,24/10/2021,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,บางพลัด
1041963,1858953,25/10/2021,24/10/2021,หญิง,39.0,ปี,Thailand,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,บางพลัด
1041964,1858954,25/10/2021,24/10/2021,ชาย,80.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,สายไหม
1041965,1858955,25/10/2021,24/10/2021,หญิง,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,สายไหม
1041966,1858956,25/10/2021,24/10/2021,หญิง,53.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,สายไหม

## ตารางข้อมูล covid ปี2021(2)

In [9]:
data_covid2021_2 =  pd.read_csv(os.path.join(path,'confirmed-cases-since-271064.csv'))
data_covid2021_2

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

## ตารางข้อมูล covid ปี2022

In [10]:
data_covid2022 =  pd.read_csv(os.path.join(path,'confirmed-cases-since-280265.csv'))
data_covid2022

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

## ต่อตาราง

In [11]:
covid = pd.concat([data_covid20,data_covid21_1,data_covid2021_2,data_covid2022])
covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,4/3/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,เมือง,NaN
1,2,17/1/2020,4/3/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,เมือง,NaN
2,3,22/1/2020,4/3/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,4/3/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,หัวหิน,NaN
4,5,24/1/2020,4/3/2020,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,หัวหิน,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

## เลือกเฉพาะคอลัมน์ที่สนใจ

In [12]:
covid_data = covid[['announce_date','sex','age','nationality','risk','province_of_onset']]
covid_data

,announce_date,sex,age,nationality,risk,province_of_onset
0,12/1/2020,หญิง,61.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
1,17/1/2020,หญิง,74.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
2,22/1/2020,หญิง,73.0,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม
3,22/1/2020,ชาย,68.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
4,24/1/2020,หญิง,66.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
...,...,...,...,...,...,...
433548,18/3/2022,หญิง,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433549,18/3/2022,หญิง,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433550,18/3/2022,หญิง,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433551,18/3/2022,หญิง,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN
433552,18/3/2022,หญิง,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN

## ตรวจสอบค่า Missing

In [13]:
covid_data.isnull().any() #ดูว่าแต่ละ column มีค่า missing มั้ย

announce_date        False
sex                   True
age                   True
nationality           True
risk                  True
province_of_onset     True
dtype: bool

In [14]:
covid_data[['sex']] = covid_data[['sex']].fillna('ไม่ระบุ') ##แทนค่า NaN เป็น ไม่ระบุ
covid_data[['nationality']] = covid_data[['nationality']].fillna('ไม่ระบุ') ##แทนค่า NaN เป็น ไม่ระบุ
covid_data[['province_of_onset']] = covid_data[['province_of_onset']].fillna('ไม่ระบุ') ##แทนค่า NaN เป็น ไม่ระบุ
covid_data[['risk']] = covid_data[['risk']].fillna('ไม่ระบุ') ##แทนค่า NaN เป็น ไม่ระบุ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [15]:
covid_data = covid_data.fillna(method="bfill") #ใช้ bfill คือการแทนที่ด้วยค่าถัดไปคือการนำค่าถัดไปที่มีค่า ของเซลล์ตัวเองมาแทนที่ลงในช่องที่เป็น NaN
covid_data.isnull().any() #เช็คข้อมูลในแต่ละคอลัมน์อีกครั้ง

announce_date        False
sex                  False
age                   True
nationality          False
risk                 False
province_of_onset    False
dtype: bool

In [16]:
set(covid_data['province_of_onset'])

{'\tประจวบคีรีขันธ์',
 'USA',
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กทม.',
 'กบินทร์บุรี',
 'กระบี่',
 'กระบี่ี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา',
 'กรุงเทพมหานคร. / ศรีสะเกษ',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาญจบุรี',
 'กาญนบุรี',
 'กาฬสิน',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธุ์\xa0',
 'กาฬสินธ์',
 'กำเพงเพชร',
 'กำแพง',
 'กำแพงเพชร',
 'กำแพงเพชร\xa0',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'ขอนแก่่น',
 'ขัยนาท',
 'ขัยภูมิ',
 'ขานุวรลักษณ์บุรี',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คลองเตย',
 'จ.กรุงเทพมหานคร',
 'จ.ภูเก็ต',
 'จ.ราชบุรี',
 'จ.สุราษฎร์ธานี',
 'จังหวัดสมุทรสาคร',
 'จันทบุรี',
 'ฉะเชองเทราร',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุรี\xa0',
 'ชลบุุรี',
 'ชอนแก่น',
 'ชัยนาถ',
 'ชัยนาท',
 'ชัยบาดาล',
 'ชัยภูมิ',
 'ชัยภูมิ\xa0',
 'ชุมพร',
 'ชุุมพร',
 'ชุุุมพร',
 'ดอนมดแดง',
 'ดินแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตราด\xa0',
 'ตาก',
 'ต่างจังหวัด',
 'ทุ่งเสลี่ยม',
 'ท้ายบ้าน',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปฐม\xa0',
 'นครปบม',
 'นครพนม',
 'นครพนม\xa0',
 'นครยายก',
 'นครราขสีมา',
 'นครราชธานี',
 'นครราชศรีมา',
 'นครราชสสีมา',
 'นครราชสีมา',
 'นครราชสีมา ลพบุรี',
 'นครราชสีมา\xa0',
 'นครศรธรรมราช',
 'นครศรี',
 'นครศรีธรมมราช',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสรรค์',
 'นครสรีธรรมราช',
 'นครสวรรค',
 'นครสวรรค์',
 'นครสวรรค์\xa0',
 'นครสีธรรมราช',
 'นครฯ',
 'นคราชสีมา',
 'นครีศรีธรรมราช',
 'นตรนายก',
 'นตรปฐม',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นนทบุุรี',
 'นนทุบรี',
 'นนทุรี',
 'นนมบุรี',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นราธฺวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'น่าน/ฉะเชิงเทรา',
 'บางกรวย',
 'บางกะปิ',
 'บางนา',
 'บางปะอิน',
 'บางละมุง',
 'บางศรีเมือง',
 'บางเพียง',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมภ์',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรัยม์',
 'บุรีรีมย์',
 'บ้านหลวง',
 'ปจ',
 'ปทึมธานี',
 'ปทุทธานี',
 'ปทุมฑานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานี\xa0',
 'ปทุมธานีี',
 'ปทุมาธานี',
 'ปทุุมธานี',
 'ปธุมธานี',
 'ปมุมธานี',
 'ประจวนคีรีขันธ็',
 'ประจวบ',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขัน',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบคีีรีขันธ์',
 'ประจวบฯ',
 'ประทุมธานี',
 'ประเทศกัมพูชา',
 'ปราจีนบุรี',
 'ปราจีบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปอยเปต',
 'ปัตตนรี',
 'ปัตตานนี',
 'ปัตตานี',
 'ปัตตานีี',
 'ปัตาตานี',
 'ปัว',
 'ปััตตานี',
 'ปุทมธานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุทยา',
 'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0',
 'พะเยา',
 'พังงา',
 'พัทยา',
 'พัทลุง',
 'พัทลุุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณุโลก\xa0',
 'พิษณูโลก',
 'ฟินแลนด์',
 'ภาษีเจริญ',
 'ภุเก็ต',
 'ภูุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเก็็ต',
 'ภูเพียง',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'มุกาดหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ร.จ.จ.นราธิวาส',
 'รอ',
 'ระนอง',
 'ระบุ',
 'ระยอง',
 'ระยอง\xa0',
 'ระอยง',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรีี',
 'ราชบุรี\u200b',
 'ราชุรี',
 'ราชเทวี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลพบุรี\xa0',
 'ลอง',
 'ลาดกระบัง',
 'ลาดพร้าว',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'ลำพูน\u200b',
 'ลำพููน',
 'ลำลูกกา',
 'วังชิ้น',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะสะเกษ',
 'ศรีษะเกษ',
 'ศรีสระเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สครสวรรค์',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สพรรณบุรี',
 'สมถทรปราการ',
 'สมทรสงคราม',
 'สมทรสาคร',
 'สมุครปราการ',
 'สมุครสาคร',
 'สมุท',
 'สมุทปราการ',
 'สมุทรปรากร',
 'สมุทรปรากรร',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรปราการ\xa0',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคร\xa0',
 'สมุทรสาคา',
 'สมุทรสาคาร',
 'สมุทรสาทร',
 'สมุทรสารคร',
 'สมุทราปราการ',
 'สมุทราสาคร',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุย',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สระก้ว',
 'สระบุรี',
 'สระบุรี\xa0',
 'สระแก้ว',
 'สวิสเซอร์แลนด์',
 'สอง',
 'สองแคว',
 'สะพานสูง',
 'สะแก้ว',
 'สัตหีบ',
 'สัมผัสผู้ป่วยยืนยัน COVID20',
 'สามุทรสาคร',
 'สารคาม',
 'สารภี',
 'สิงห์บุรี',
 'สิงห์บุรี\xa0',
 'สุทรปราการ',
 'สุพรรญบุรี',
 'สุพรรณบุรั',
 'สุพรรณบุรี',
 'สุพรรณบุรี\xa0',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎณ์ธานี',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์ฯ',
 'สุราษฎร์์ธานี',
 'สุราษฎ์ธานี',
 'สุราษฏร์ธานี',
 'สุราษธานี',
 'สุราษร์ฎธานี',
 'สุราษร์ธานี',
 'สุราษฯ',
 'สุรินทรื',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุรินทร์,รีสะเกษ',
 'สุรินทร์\xa0',
 'สุริมทร์',
 'สุริะแก้ว',
 'สุวรรณภูมิ',
 'สุุพรรณบุรี',
 'สุุราษฎร์ธานี',
 'สุุราษฏร์ธานี',
 'สุุราษฯ',
 'สุุรินทร์',
 'สุุุโขทัย',
 'สุโขทับ',
 'สุโขทัย',
 'สุโขทัย\xa0',
 'สูงเม่น',
 'หนวงบัวลำภู',
 'หนองคาย',
 'หนองงคาย',
 'หนองบัวภู',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'หนองบัวลําภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'หนอบัวลำภู',
 'หลายจังหวัด',
 'หัวหิน',
 'ห้วยขวาง',
 'อยุทธยา',
 'อยุธยา',
 'อยุุธยา',
 'อำนาจเจริญ',
 'อำนาญเจริญ',
 'อำนาเจริญ',
 'อิสราเอล',
 'อุดธานี',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานี\xa0',
 'อุดรธานีี',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุตรดิตถ์\xa0',
 'อุตรดิตถ์์',
 'อุตรดิษถ์',
 'อุตรดิิตถ์',
 'อุตรติดถ์',
 'อุทัยธานี',
 'อุทัยานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุบลราชธานี\xa0',
 'อุุครดิตถ์',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อุุบลราชธานี',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชิงเทรา',
 'เชียงราย',
 'เชียงใหม่',
 'เชียรใหญ่',
 'เชีียงราย',
 'เชีียงใหม่',
 'เด่นชัย',
 'เพขรบุรี',
 'เพขรบูรณื',
 'เพขรบูรณ์',
 'เพชรบุรณ์',
 'เพชรบุรี',
 'เพชรบุรึ',
 'เพชรบุุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เพชรบูรณ์\xa0',
 'เพชรบูร์',
 'เพชรบููรณ์',
 'เมือง',
 'เมืองตาก',
 'เมืองน่าน',
 'เมืองปัตตานี',
 'เรือ',
 'เลย',
 'เลย\xa0',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่มีชื่อหอพัก',
 'ไม่ระบุ'}

In [17]:
len(set(covid_data['province_of_onset']))

434

In [18]:
#ทำข้อมูลให้เหมือนกัน
covid_data['province_of_onset'].replace({'\tประจวบคีรีขันธ์':'ประจวบคีรีขันธ์',
 'USA':'กรุงเทพมหานคร',
 '\xa0กาญจนบุรี':'กาญจนบุรี',
 '\xa0ชลบุรี':'ชลบุรี',
 '\xa0ตราด':'ตราด',
 '\xa0นครปฐม':'นครปฐม',
 '\xa0สมุทรสงคราม':'สมุทรสงคราม',
 '\xa0สมุทรสาคร':'สมุทรสาคร',
 '\xa0อุทัยธานี':'อุทัยธานี',
 'กทม':'กรุงเทพมหานคร',
 'กทม.':'กรุงเทพมหานคร',
 'กบินทร์บุรี':'ปราจีนบุรี',
 'กระบี่':'กระบี่',
 'กระบี่ี่':'กระบี่',
 'กรุงเทพ':'กรุงเทพมหานคร',
 'กรุงเทพมหานคร':'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.':'กรุงเทพมหานคร',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา':'กรุงเทพมหานคร',
 'กรุงเทพมหานคร. / ศรีสะเกษ':'กรุงเทพมหานคร',
 'กรุงเทพฯ':'กรุงเทพมหานคร',
 'กะทู้':'ไม่ระบุ',
 'กัมพูชา':'กรุงเทพมหานคร',
 'กาญจนบุรี':'กาญจนบุรี',
 'กาญจบุรี':'กาญจนบุรี',
 'กาญนบุรี':'กาญจนบุรี',
 'กาฬสิน':'กาฬสินธุ์',
 'กาฬสินธิ์':'กาฬสินธุ์',
 'กาฬสินธุ์':'กาฬสินธุ์',
 'กาฬสินธุ์\xa0':'กาฬสินธุ์',
 'กาฬสินธ์':'กาฬสินธุ์',
 'กำเพงเพชร':'กำแพงเพชร',
 'กำแพง':'กำแพงเพชร',
 'กำแพงเพชร':'กำแพงเพชร',
 'กำแพงเพชร\xa0':'กำแพงเพชร',
 'กําแพงเพชร':'กำแพงเพชร',
 'ขอนแก่น':'ขอนแก่น',
 'ขอนแก่น\xa0':'ขอนแก่น',
 'ขอนแก่่น':'ขอนแก่น',
 'ขัยนาท':'ชัยนาท',
 'ขัยภูมิ':'ชัยภูมิ',
 'ขานุวรลักษณ์บุรี':'กำแพงเพชร',
 'คนไทยเดินทางกลับจากต่างประเทศ':'กรุงเทพมหานคร',
 'คลองเตย':'กรุงเทพมหานคร',
 'จ.กรุงเทพมหานคร':'กรุงเทพมหานคร',
 'จ.ภูเก็ต':'ภูเก็ต',
 'จ.ราชบุรี':'ราชบุรี',
 'จ.สุราษฎร์ธานี':'สุราษฎร์ธานี',
 'จังหวัดสมุทรสาคร':'สมุทรสาคร',
 'จันทบุรี':'จันทบุรี',
 'ฉะเชองเทราร':'ฉะเชิงเทรา',
 'ฉะเชิงเทรา':'ฉะเชิงเทรา',
 'ชมพร':'ชุมพร',
 'ชลบุรี':'ชลบุรี',
 'ชลบุรี\t':'ชลบุรี',
 'ชลบุรี\xa0':'ชลบุรี',
 'ชลบุุรี':'ชลบุรี',
 'ชอนแก่น':'ขอนแก่น',
 'ชัยนาถ':'ชัยนาท',
 'ชัยนาท':'ชัยนาท',
 'ชัยบาดาล':'ลพบุรี',
 'ชัยภูมิ':'ชัยภูมิ',
 'ชัยภูมิ\xa0':'ชัยภูมิ',
 'ชุมพร':'ชุมพร',
 'ชุุมพร':'ชุมพร',
 'ชุุุมพร':'ชุมพร',
 'ดอนมดแดง':'อุบลราชธานี',
 'ดินแดง':'กรุงเทพมหานคร',
 'ตรัง':'ตรัง',
 'ตรััง':'ตรัง',
 'ตราด':'ตราด',
 'ตราด\xa0':'ตราด',
 'ตาก':'ตาก',
 'ตากใบ':'นราธิวาส',
 'ต่างจังหวัด':'กรุงเทพมหานคร',
 'ทุ่งเสลี่ยม':'สุโขทัย',
 'ท้ายบ้าน':'สมุทรปราการ',
 'ธารโต':'ยะลา',
 'นคนปฐม':'นครปฐม',
 'นคปฐม':'นครปฐม',
 'นครนปฐม':'นครปฐม',
 'นครนาชสีมา':'นครราชสีมา',
 'นครนายก':'นครนายก',
 'นครปฐม':'นครปฐม',
 'นครปฐม\xa0':'นครปฐม',
 'นครปบม':'นครปฐม',
 'นครพนม':'นครพนม',
 'นครพนม\xa0':'นครพนม',
 'นครยายก':'นครนายก',
 'นครราขสีมา':'นครราชสีมา',
 'นครราชธานี':'นครราชสีมา',
 'นครราชศรีมา':'นครราชสีมา',
 'นครราชสสีมา':'นครราชสีมา',
 'นครราชสีมา':'นครราชสีมา',
 'นครราชสีมา ลพบุรี':'นครราชสีมา',
 'นครราชสีมา\xa0':'นครราชสีมา',
 'นครศรธรรมราช':'นครศรีธรรมราช',
 'นครศรี':'นครศรีธรรมราช',
 'นครศรีธรมมราช':'นครศรีธรรมราช',
 'นครศรีธรมราช':'นครศรีธรรมราช',
 'นครศรีธรรมราข':'นครศรีธรรมราช',
 'นครศรีธรรมราช':'นครศรีธรรมราช',
 'นครศรีฯ':'นครศรีธรรมราช',
 'นครศรีีธรรมราช':'นครศรีธรรมราช',
 'นครศร๊ธรรมราช':'นครศรีธรรมราช',
 'นครศร๊ะรรมราช':'นครศรีธรรมราช',
 'นครสรรค์':'นครสวรรค์',
 'นครสรีธรรมราช':'นครศรีธรรมราช',
 'นครสวรรค':'นครสวรรค์',
 'นครสวรรค์':'นครสวรรค์',
 'นครสวรรค์\xa0':'นครสวรรค์',
 'นครสีธรรมราช':'นครศรีธรรมราช',
 'นครฯ':'นครราชสีมา',
 'นคราชสีมา':'นครราชสีมา',
 'นครีศรีธรรมราช':'นครศรีธรรมราช',
 'นตรนายก':'นครนายก',
 'นตรปฐม':'นครปฐม',
 'นนทบุรี':'นนทบุรี',
 'นนทบุรี\xa0':'นนทบุรี',
 'นนทบุุรี':'นนทบุรี',
 'นนทุบรี':'นนทบุรี',
 'นนทุรี':'นนทบุรี',
 'นนมบุรี':'นนทบุรี',
 'นรศรีธรรมราช':'นครศรีธรรมราช',
 'นราธิวาส':'นราธิวาส',
 'นราธิวาส\u200b':'นราธิวาส',
 'นราธฺวาส':'นราธิวาส',
 'นอกเขต':'ไม่ระบุ',
 'นาราธิวาส':'นราธิวาส',
 'นาวัง':'หนองบัวลำภู',
 'น่าน':'น่าน',
 'น่าน/ฉะเชิงเทรา':'น่าน',
 'บางกรวย':'นนทบุรี',
 'บางกะปิ':'กรุงเทพมหานคร',
 'บางนา':'กรุงเทพมหานคร',
 'บางปะอิน':'กรุงเทพมหานคร',
 'บางละมุง':'ชลบุรี',
 'บางศรีเมือง':'นนทบุรี',
 'บางเพียง':'สมุทรปราการ',
 'บึงกาฬ':'บึงกาฬ',
 'บึงโขงหลง':'บึงกาฬ',
 'บุรีรัมภ์':'บุรีรัมย์',
 'บุรีรัมย์':'บุรีรัมย์',
 'บุรีรัมย์\xa0':'บุรีรัมย์',
 'บุรีรัยม์':'บุรีรัมย์',
 'บุรีรีมย์':'บุรีรัมย์',
 'บ้านหลวง':'น่าน',
 'ปจ':'ไม่ระบุ',
 'ปทึมธานี':'ปทุมธานี',
 'ปทุทธานี':'ปทุมธานี',
 'ปทุมฑานี':'ปทุมธานี',
 'ปทุมทานี':'ปทุมธานี',
 'ปทุมธาน':'ปทุมธานี',
 'ปทุมธานี':'ปทุมธานี',
 'ปทุมธานี.':'ปทุมธานี',
 'ปทุมธานี\xa0':'ปทุมธานี',
 'ปทุมธานีี':'ปทุมธานี',
 'ปทุมาธานี':'ปทุมธานี',
 'ปทุุมธานี':'ปทุมธานี',
 'ปธุมธานี':'ปทุมธานี',
 'ปมุมธานี':'ปทุมธานี',
 'ประจวนคีรีขันธ็':'ประจวบคีรีขันธ์',
 'ประจวบ':'ประจวบคีรีขันธ์',
 'ประจวบคิรีขันธ์':'ประจวบคีรีขันธ์',
 'ประจวบคีรขันธ์':'ประจวบคีรีขันธ์',
 'ประจวบคีรขัันธ์':'ประจวบคีรีขันธ์',
 'ประจวบคีรีขัน':'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธื':'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธฺ':'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์':'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0':'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์์':'ประจวบคีรีขันธ์',
 'ประจวบคีรีขัันธ์':'ประจวบคีรีขันธ์',
 'ประจวบคีีรีขันธ์':'ประจวบคีรีขันธ์',
 'ประจวบฯ':'ประจวบคีรีขันธ์',
 'ประทุมธานี':'ปทุมธานี',
 'ประเทศกัมพูชา':'กรุงเทพมหานคร',
 'ปราจีนบุรี':'ปราจีนบุรี',
 'ปราจีบุรี':'ปราจีนบุรี',
 'ปลวกแดง':'ระยอง',
 'ปลายพระยา':'กระบี่',
 'ปอยเปต':'กรุงเทพมหานคร',
 'ปัตตนรี':'ปัตตานี',
 'ปัตตานนี':'ปัตตานี',
 'ปัตตานี':'ปัตตานี',
 'ปัตตานีี':'ปัตตานี',
 'ปัตาตานี':'ปัตตานี',
 'ปัว':'เพชรบุรี',
 'ปััตตานี':'ปัตตานี',
 'ปุทมธานี':'ปทุมธานี',
 'ป่าโมก':'สุโขทัย',
 'พม่า':'กรุงเทพมหานคร',
 'พรหมพิราม':'พิษณุโลก',
 'พระนครศรียุธยา':'พระนครศรีอยุธยา',
 'พระนครศรีอยุทธยา':'พระนครศรีอยุธยา',
 'พระนครศรีอยุทยา':'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา':'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0':'พระนครศรีอยุธยา',
 'พะเยา':'พะเยา',
 'พังงา':'พังงา',
 'พัทยา':'ชลบุรี',
 'พัทลุง':'พัทลุง',
 'พัทลุุง':'พัทลุง',
 'พัังงา':'พังงา',
 'พิจิตร':'พิจิตร',
 'พิษณุโลก':'พิษณุโลก',
 'พิษณุโลก\xa0':'พิษณุโลก',
 'พิษณูโลก':'พิษณุโลก',
 'ฟินแลนด์':'กรุงเทพมหานคร',
 'ภาษีเจริญ':'กรุงเทพมหานคร',
 'ภุเก็ต':'ภูเก็ต',
 'ภูุเก็ต':'ภูเก็ต',
 'ภููเก็ต':'ภูเก็ต',
 'ภูเก็ต':'ภูเก็ต',
 'ภูเก็็ต':'ภูเก็ต',
 'ภูเพียง':'น่าน',
 'มหาสาคาม':'มหาสารคาม',
 'มหาสารคาม':'มหาสารคาม',
 'มาเลเซีย':'กรุงเทพมหานคร',
 'มุกดาหาร':'มุกดาหาร',
 'มุกาดหาร':'มุกดาหาร',
 'ยะลา':'ยะลา',
 'ยานนาวา':'กรุงเทพมหานคร',
 'ยโสธร':'ยโสธร',
 'ร.จ.จ.นราธิวาส':'นราธิวาส',
 'รอ':'ไม่ระบุ',
 'ระนอง':'ระนอง',
 'ระบุ':'ไม่ระบุ',
 'ระยอง':'ระยอง',
 'ระยอง\xa0':'ระยอง',
 'ระอยง':'ระยอง',
 'ราชบบุรี':'ราชบุรี',
 'ราชบุรี':'ราชบุรี',
 'ราชบุรีี':'ราชบุรี',
 'ราชบุรี\u200b':'ราชบุรี',
 'ราชุรี':'ราชบุรี',
 'ราชเทวี':'กรุงเทพมหานคร',
 'ร้องกวาง':'แพร่',
 'ร้อยเอ็ด':'ร้อยเอ็ด',
 'ลบุรี':'ลพบุรี',
 'ลพบุรี':'ลพบุรี',
 'ลพบุรี.':'ลพบุรี',
 'ลพบุรี\xa0':'ลพบุรี',
 'ลอง':'ไม่ระบุ',
 'ลาดกระบัง':'กรุงเทพมหานคร',
 'ลาดพร้าว':'กรุงเทพมหานคร',
 'ลาว':'กรุงเทพมหานคร',
 'ลำปาง':'ลำปาง',
 'ลำพูน':'ลำพูน',
 'ลำพูน\u200b':'ลำพูน',
 'ลำพููน':'ลำพูน',
 'ลำลูกกา':'กรุงเทพมหานคร',
 'วังชิ้น':'แพร่',
 'วังทอง':'พิษณุโลก',
 'วิเศษชัยชาญ':'อ่างทอง',
 'ศรีษะสะเกษ':'ศรีสะเกษ',
 'ศรีษะเกษ':'ศรีสะเกษ',
 'ศรีสระเกษ':'ศรีสะเกษ',
 'ศรีสะเกษ':'ศรีสะเกษ',
 'ศีรสะเกษ':'ศรีสะเกษ',
 'สกลนคร':'สกลนคร',
 'สครสวรรค์':'นครสวรรค์',
 'สงขลา':'สงขลา',
 'สงขลา\u200b':'สงขลา',
 'สตูล':'สตูล',
 'สถานที่ทำงาน':'ไม่ระบุ',
 'สพรรณบุรี':'สุพรรณบุรี',
 'สมถทรปราการ':'สมุทรปราการ',
 'สมทรสงคราม':'สมุทรสงคราม',
 'สมทรสาคร':'สมุทรสาคร',
 'สมุครปราการ':'สมุทรปราการ',
 'สมุครสาคร':'สมุทรสาคร',
 'สมุท':'สมุทรปราการ',
 'สมุทปราการ':'สมุทรปราการ',
 'สมุทรปรากร':'สมุทรปราการ',
 'สมุทรปรากรร':'สมุทรปราการ',
 'สมุทรปรากา':'สมุทรปราการ',
 'สมุทรปราการ':'สมุทรปราการ',
 'สมุทรปราการ\xa0':'สมุทรปราการ',
 'สมุทรศาคร':'สมุทรสาคร',
 'สมุทรสงคราม':'สมุทรสาคร',
 'สมุทรสาคร':'สมุทรสาคร',
 'สมุทรสาคร\xa0':'สมุทรสาคร',
 'สมุทรสาคา':'สมุทรสาคร',
 'สมุทรสาคาร':'สมุทรสาคร',
 'สมุทรสาทร':'สมุทรสาคร',
 'สมุทรสารคร':'สมุทรสาคร',
 'สมุทราปราการ':'สมุทรปราการ',
 'สมุทราสาคร':'สมุทรสาคร',
 'สมุทสงคราม':'สมุทรสงคราม',
 'สมุทสาคร':'สมุทรสาคร',
 'สมุย':'สุราษฎร์ธานี',
 'สมุุทรปราการ':'สมุทรปราการ',
 'สมุุทรสงคราม':'สมุทรสงคราม',
 'สมุุทรสาคร':'สมุทรสาคร',
 'สระก้ว':'สระแก้ว',
 'สระบุรี':'สระบุรี',
 'สระบุรี\xa0':'สระบุรี',
 'สระแก้ว':'สระแก้ว',
 'สรินทร์':'สุรินทร์',
 'สวิสเซอร์แลนด์':'กรุงเทพมหานคร',
 'สอง':'ไม่ระบุ',
 'สองแคว':'เชียงใหม่',
 'สะพานสูง':'กรุงเทพมหานคร',
 'สะแก้ว':'สระแก้ว',
 'สัตหีบ':'ชลบุรี',
 'สัมผัสผู้ป่วยยืนยัน COVID20':'ไม่ระบุ',
 'สามุทรสาคร':'สมุทรสาคร',
 'สารคาม':'มหาสารคาม',
 'สารภี':'เชียงใหม่',
 'สิงห์บุรี':'สิงห์บุรี',
 'สิงห์บุรี\xa0':'สิงห์บุรี',
 'สุทรปราการ':'สมุทรปราการ',
 'สุพรรญบุรี':'สุพรรณบุรี',
 'สุพรรณบุรั':'สุพรรณบุรี',
 'สุพรรณบุรี':'สุพรรณบุรี',
 'สุพรรณบุรี\xa0':'สุพรรณบุรี',
 'สุมทรปราการ':'สมุทรปราการ',
 'สุมทรสาคร':'สมุทรสาคร',
 'สุมุทรปราการ':'สมุทรปราการ',
 'สุมุทรสาคร':'สมุทรสาคร',
 'สุระบุรี':'สระบุรี',
 'สุราษ':'สุราษฎร์ธานี',
 'สุราษฎณ์ธานี':'สุราษฎร์ธานี',
 'สุราษฎธานี':'สุราษฎร์ธานี',
 'สุราษฎร์':'สุราษฎร์ธานี',
 'สุราษฎร์ธานี':'สุราษฎร์ธานี',
 'สุราษฎร์ฯ':'สุราษฎร์ธานี',
 'สุราษฎร์์ธานี':'สุราษฎร์ธานี',
 'สุราษฎ์ธานี':'สุราษฎร์ธานี',
 'สุราษฏร์ธานี':'สุราษฎร์ธานี',
 'สุราษธานี':'สุราษฎร์ธานี',
 'สุราษร์ฎธานี':'สุราษฎร์ธานี',
 'สุราษร์ธานี':'สุราษฎร์ธานี',
 'สุราษฯ':'สุราษฎร์ธานี',
 'สุรินทรื':'สุรินทร์',
 'สุรินทร์':'สุรินทร์',
 'สุรินทร์ 32150':'สุรินทร์',
 'สุรินทร์,รีสะเกษ':'สุรินทร์',
 'สุรินทร์\xa0':'สุรินทร์',
 'สุริมทร์':'สุรินทร์',
 'สุริะแก้ว':'สระแก้ว',
 'สุวรรณภูมิ':'กรุงเทพมหานคร',
 'สุุพรรณบุรี':'สุพรรณบุรี',
 'สุุราษฎร์ธานี':'สุราษฎร์ธานี',
 'สุุราษฏร์ธานี':'สุราษฎร์ธานี',
 'สุุราษฯ':'สุราษฎร์ธานี',
 'สุุรินทร์':'สุรินทร์',
 'สุุุโขทัย':'สุโขทัย',
 'สุโขทับ':'สุโขทัย',
 'สุโขทัย':'สุโขทัย',
 'สุโขทัย\xa0':'สุโขทัย',
 'สูงเม่น':'แพร่',
 'หนวงบัวลำภู':'หนองบัวลำภู',
 'หนองคาย':'หนองคาย',
 'หนองงคาย':'หนองคาย',
 'หนองบัวภู':'หนองบัวลำภู',
 'หนองบัวลำพูน':'หนองบัวลำภู',
 'หนองบัวลำภู':'หนองบัวลำภู',
 'หนองบัวลําภู':'หนองบัวลำภู',
 'หนองบััวลำภู':'หนองบัวลำภู',
 'หนองม่วงไข่':'แพร่',
 'หนอบัวลำภู':'หนองบัวลำภู',
 'หลายจังหวัด':'ไม่ระบุ',
 'หัวหิน':'ชลบุรี',
 'ห้วยขวาง':'กรุงเทพมหานคร',
 'อยุทธยา':'พระนครศรีอยุธยา',
 'อยุธยา':'พระนครศรีอยุธยา',
 'อยุุธยา':'พระนครศรีอยุธยา',
 'อำนาจเจริญ':'อำนาจเจริญ',
 'อำนาจเจิญ':'อำนาจเจริญ',
 'อำนาญเจริญ':'อำนาจเจริญ',
 'อำนาเจริญ':'อำนาจเจริญ',
 'อิสราเอล':'กรุงเทพมหานคร',
 'อุดธานี':'อุดรธานี',
 'อุดร':'อุดรธานี',
 'อุดรธาณี':'อุดรธานี',
 'อุดรธานี':'อุดรธานี',
 'อุดรธานี\xa0':'อุดรธานี',
 'อุดรธานีี':'อุดรธานี',
 'อุดรราชธานี':'อุดรธานี',
 'อุตรดิตถ์':'อุตรดิตถ์',
 'อุตรดิตถ์\xa0':'อุตรดิตถ์',
 'อุตรดิตถ์์':'อุตรดิตถ์',
 'อุตรดิษถ์':'อุตรดิตถ์',
 'อุตรดิิตถ์':'อุตรดิตถ์',
 'อุตรติดถ์':'อุตรดิตถ์',
 'อุทัยธานี':'อุทัยธานี',
 'อุทัยานี':'อุทัยธานี',
 'อุบลราขธานี':'อุบลราชธานี',
 'อุบลราชธานี':'อุบลราชธานี',
 'อุบลราชธานี\xa0':'อุบลราชธานี',
 'อุุครดิตถ์':'อุตรดิตถ์',
 'อุุดรธาน':'อุดรธานี',
 'อุุดรธานี':'อุดรธานี',
 'อุุตรดิตถ์':'อุตรดิตถ์',
 'อุุทัยธานี':'อุทัยธานี',
 'อุุบลราชธานี':'อุบลราชธานี',
 'อ่งทอง':'อ่างทอง',
 'อ่างทอง':'อ่างทอง',
 'อ่างทอง\xa0':'อ่างทอง',
 'อํานาจเจริญ':'อำนาจเจริญ',
 'เชิงเทรา':'ฉะเชิงเทรา',
 'เชียงราย':'เชียงราย',
 'เชียงใหม่':'เชียงใหม่',
 'เชียรใหญ่':'เชียงใหม่',
 'เชีียงราย':'เชียงราย',
 'เชีียงใหม่':'เชียงใหม่',
 'เด่นชัย':'แพร่',
 'เพขรบุรี':'เพชรบุรี',
 'เพขรบูรณื':'เพชรบูรณ์',
 'เพขรบูรณ์':'เพชรบูรณ์',
 'เพชรบุรณ์':'เพชรบูรณ์',
 'เพชรบุรี':'เพชรบุรี',
 'เพชรบุรึ':'เพชรบุรี',
 'เพชรบุุรี':'เพชรบุรี',
 'เพชรบุูรณ์':'เพชรบูรณ์',
 'เพชรบูรณ์':'เพชรบูรณ์',
 'เพชรบูรณ์\xa0':'เพชรบูรณ์',
 'เพชรบูร์':'เพชรบูรณ์',
 'เพชรบููรณ์':'เพชรบูรณ์',
 'เมือง':'ไม่ระบุ',
 'เมืองตาก':'ตาก',
 'เมืองน่าน':'น่าน',
 'เมืองปัตตานี':'ปัตตานี',
 'เรือ':'ไม่ระบุ',
 'เลย':'เลย',
 'เลย\xa0':'เลย',
 'เวียงจันทร์':'กรุงเทพมหานคร',
 'เวียงสา':'กรุงเทพมหานคร',
 'แพร่':'แพร่',
 'แม่ทะ':'ลำปาง',
 'แม่ฮ่องสอน':'แม่ฮ่องสอน',
 'แล้วป่วย':'ไม่ระบุ',
 'โพธิ์ทอง':'อ่างทอง',
 'ไชโย':'อ่างทอง',
 'ไม่มีชื่อหอพัก':'ไม่ระบุ',
 'ไม่ระบุ':'ไม่ระบุ'}, inplace=True)

In [19]:
len(set(covid_data['province_of_onset'])) #มีค่าที่ชื่อว่า ไม่ระบุ

78

In [20]:
data_gb = covid_data.groupby('province_of_onset').size().reset_index(name='จำนวนผู้ติดเชื้อ')  ### สร้างตารางที่รวมจำนวนผู้ป่วยในแต่ละจังหวัด
data_gb

   province_of_onset  จำนวนผู้ติดเชื้อ
0             กระบี่             16371
1      กรุงเทพมหานคร            571854
2          กาญจนบุรี             24469
3          กาฬสินธุ์             16477
4          กำแพงเพชร             12908
..               ...               ...
73         เพชรบูรณ์             17083
74               เลย             10878
75              แพร่              5877
76        แม่ฮ่องสอน              7378
77           ไม่ระบุ            156639

[78 rows x 2 columns]

In [21]:
covid_dropped = covid_data.dropna() #drop ค่าอายุที่ว่างออกจากตาราง

In [22]:
covid_dropped

,announce_date,sex,age,nationality,risk,province_of_onset
0,12/1/2020,หญิง,61.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
1,17/1/2020,หญิง,74.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
2,22/1/2020,หญิง,73.0,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม
3,22/1/2020,ชาย,68.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
4,24/1/2020,หญิง,66.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
...,...,...,...,...,...,...
433445,18/3/2022,ไม่ระบุ,43.0,ไม่ระบุ,อื่นๆ,ไม่ระบุ
433446,18/3/2022,ไม่ระบุ,21.0,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร
433447,18/3/2022,ไม่ระบุ,22.0,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร
433448,18/3/2022,ไม่ระบุ,25.0,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร
433449,18/3/2022,ไม่ระบุ,64.0,ไม่ระบุ,อื่นๆ,กำแพงเพชร

In [23]:
covid_finish = covid_dropped.merge(data_gb,how='left',left_on='province_of_onset',right_on = 'province_of_onset') 
covid_finish

,announce_date,sex,age,nationality,risk,province_of_onset,จำนวนผู้ติดเชื้อ
0,12/1/2020,หญิง,61.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,571854
1,17/1/2020,หญิง,74.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,571854
2,22/1/2020,หญิง,73.0,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,71629
3,22/1/2020,ชาย,68.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,571854
4,24/1/2020,หญิง,66.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,571854
...,...,...,...,...,...,...,...
3056668,18/3/2022,ไม่ระบุ,43.0,ไม่ระบุ,อื่นๆ,ไม่ระบุ,156639
3056669,18/3/2022,ไม่ระบุ,21.0,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,571854
3056670,18/3/2022,ไม่ระบุ,22.0,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,571854
3056671,18/3/2022,ไม่ระบุ,25.0,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,571854
3056672,18/3/2022,ไม่ระบุ,64.0,ไม่ระบุ,อื่นๆ,กำแพงเพชร,12908

# สร้างตารางภูมิภาค

In [24]:
data_region = {'Province':['อำนาจเจริญ','บึงกาฬ','บุรีรัมย์','ชัยภูมิ','กาฬสินธุ์','ขอนแก่น','เลย','มหาสารคาม','มุกดาหาร','นครพนม','นครราชสีมา','หนองบัวลำภู','หนองคาย','ร้อยเอ็ด','สกลนคร','ศรีสะเกษ','สุรินทร์','อุบลราชธานี','อุดรธานี','ยโสธร','เชียงใหม่','เชียงราย','ลำปาง','ลำพูน','แม่ฮ่องสอน','น่าน','พะเยา','แพร่','อุตรดิตถ์','ตาก','สุโขทัย','พิษณุโลก','พิจิตร','กำแพงเพชร','เพชรบูรณ์','นครสวรรค์','อุทัยธานี','อ่างทอง','ชัยนาท','พระนครศรีอยุธยา','กรุงเทพมหานคร','ลพบุรี','นครปฐม','นนทบุรี','ปทุมธานี','สมุทรปราการ','สมุทรสาคร','สมุทรสงคราม','สระบุรี','สิงห์บุรี','สุพรรณบุรี','นครนายก','ฉะเชิงเทรา','จันทบุรี','ชลบุรี','ปราจีนบุรี','ระยอง','สระแก้ว','ตราด','กาญจนบุรี','ราชบุรี','เพชรบุรี','ประจวบคีรีขันธ์','ชุมพร','นครศรีธรรมราช','นราธิวาส','ปัตตานี','พัทลุง','สงขลา','สุราษฎร์ธานี','ยะลา','กระบี่','พังงา','ภูเก็ต','ระนอง','สตูล','ตรัง'],
             '6 ภูมิภาค (ภูมิศาสตร์)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],
}

In [25]:
data_region = pd.DataFrame.from_dict(data_region)
data_region

      Province 6 ภูมิภาค (ภูมิศาสตร์)
0   อำนาจเจริญ     ตะวันออกเฉียงเหนือ
1       บึงกาฬ     ตะวันออกเฉียงเหนือ
2    บุรีรัมย์     ตะวันออกเฉียงเหนือ
3      ชัยภูมิ     ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์     ตะวันออกเฉียงเหนือ
..         ...                    ...
72       พังงา                    ใต้
73      ภูเก็ต                    ใต้
74       ระนอง                    ใต้
75        สตูล                    ใต้
76        ตรัง                    ใต้

[77 rows x 2 columns]

## merge ตาราง covid กับตาราง ภูมิภาค
covid_dropped กับ data_region

In [26]:
data_cr = covid_finish.merge(data_region,how='left',left_on='province_of_onset',right_on = 'Province') 
data_cr

,announce_date,sex,age,nationality,risk,province_of_onset,จำนวนผู้ติดเชื้อ,Province,6 ภูมิภาค (ภูมิศาสตร์)
0,12/1/2020,หญิง,61.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,571854,กรุงเทพมหานคร,กลาง
1,17/1/2020,หญิง,74.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,571854,กรุงเทพมหานคร,กลาง
2,22/1/2020,หญิง,73.0,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,71629,นครปฐม,กลาง
3,22/1/2020,ชาย,68.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,571854,กรุงเทพมหานคร,กลาง
4,24/1/2020,หญิง,66.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,571854,กรุงเทพมหานคร,กลาง
...,...,...,...,...,...,...,...,...,...
3056668,18/3/2022,ไม่ระบุ,43.0,ไม่ระบุ,อื่นๆ,ไม่ระบุ,156639,NaN,NaN
3056669,18/3/2022,ไม่ระบุ,21.0,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,571854,กรุงเทพมหานคร,กลาง
3056670,18/3/2022,ไม่ระบุ,22.0,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,571854,กรุงเทพมหานคร,กลาง
3056671,18/3/2022,ไม่ระบุ,25.0,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,571854,กรุงเทพมหานคร,กลาง
3056672,18/3/2022,ไม่ระบุ,64.0,ไม่ระบุ,อื่นๆ,กำแพงเพชร,12908,กำแพงเพชร,กลาง

In [27]:
data_cr[['Province']] = data_cr[['Province']].fillna('ไม่ระบุ') ##แทนค่า NaN เป็น ไม่ระบุ
data_cr[['6 ภูมิภาค (ภูมิศาสตร์)']] = data_cr[['6 ภูมิภาค (ภูมิศาสตร์)']].fillna('ไม่ระบุ') ##แทนค่า NaN เป็น ไม่ระบุ

In [28]:
data_cr

,announce_date,sex,age,nationality,risk,province_of_onset,จำนวนผู้ติดเชื้อ,Province,6 ภูมิภาค (ภูมิศาสตร์)
0,12/1/2020,หญิง,61.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,571854,กรุงเทพมหานคร,กลาง
1,17/1/2020,หญิง,74.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,571854,กรุงเทพมหานคร,กลาง
2,22/1/2020,หญิง,73.0,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,71629,นครปฐม,กลาง
3,22/1/2020,ชาย,68.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,571854,กรุงเทพมหานคร,กลาง
4,24/1/2020,หญิง,66.0,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,571854,กรุงเทพมหานคร,กลาง
...,...,...,...,...,...,...,...,...,...
3056668,18/3/2022,ไม่ระบุ,43.0,ไม่ระบุ,อื่นๆ,ไม่ระบุ,156639,ไม่ระบุ,ไม่ระบุ
3056669,18/3/2022,ไม่ระบุ,21.0,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,571854,กรุงเทพมหานคร,กลาง
3056670,18/3/2022,ไม่ระบุ,22.0,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,571854,กรุงเทพมหานคร,กลาง
3056671,18/3/2022,ไม่ระบุ,25.0,ไม่ระบุ,อื่นๆ,กรุงเทพมหานคร,571854,กรุงเทพมหานคร,กลาง
3056672,18/3/2022,ไม่ระบุ,64.0,ไม่ระบุ,อื่นๆ,กำแพงเพชร,12908,กำแพงเพชร,กลาง

## นำเข้าข้อมูลที่เลือกเอง

การลงทะเบียนขอรับหนังสือรับรองการเดินทางเข้าประเทศไทย (COE) ทางอากาศ

In [29]:
data_travel = pd.read_excel(os.path.join(path,'open_data_ict_nov .xlsx'))    # ไฟล์ที่เราต้องการ  # .read_excel อ่านไฟล์ที่เป็น excel  
data_travel

,_id,Sex,Age,NationName,TypeVisitor,Country_F,Embassy_F,CreateDate,DepartDate,ArriveDate,VaccineName,Dose1Date,Dose2Date
0,1,M,30,Thai,1-ผู้มีสัญชาติไทย,Cameroon,"Royal Thai Embassy, Abuja",2021-09-05T00:00:00,2021-09-17T00:00:00,2021-09-18T00:00:00,NaN,NaN,NaN
1,2,M,41,Thai,1-ผู้มีสัญชาติไทย,Nigeria,"Royal Thai Embassy, Abuja",2021-10-14T00:00:00,2021-10-22T00:00:00,2021-10-23T00:00:00,AstraZeneca,2021-04-27 00:00:00,2021-06-22 00:00:00
2,3,M,43,Thai,1-ผู้มีสัญชาติไทย,Nigeria,"Royal Thai Embassy, Abuja",2021-09-06T00:00:00,2021-09-24T00:00:00,2021-09-25T00:00:00,AstraZeneca,2021-04-27 00:00:00,2021-06-22 00:00:00
3,4,M,30,Nigerian,"11 (ED)-Studying, training or do internship or...",Nigeria,"Royal Thai Embassy, Abuja",2021-08-30T00:00:00,2021-09-06T00:00:00,2021-09-07T00:00:00,AstraZeneca,2021-03-21 00:00:00,2021-07-05 00:00:00
4,5,F,32,Cameroonian,8-ผู้มีใบอนุญาตทำงาน/ได้รับอนุญาตให้เข้ามาทำงาน,Cameroon,"Royal Thai Embassy, Abuja",2021-10-21T00:00:00,2021-11-11T00:00:00,2021-11-12T00:00:00,Pfizer – BioNTech,2021-09-29 00:00:00,2021-10-20 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34745,34746,M,32,Italian,11 (TR)-Medium Term Visitor - Tourist (TR),Belgium,"Royal Thai Embassy, Brussels",2021-04-30T00:00:00,2021-05-10T00:00:00,2021-05-11T00:00:00,NaN,NaN,NaN
34746,34747,F,49,Thai,1-ผู้มีสัญชาติไทย,Belgium,"Royal Thai Embassy, Brussels",2021-07-22T00:00:00,2021-08-04T00:00:00,2021-08-05T00:00:00,NaN,NaN,NaN
34747,34748,M,2,Belgian,11 (Exempt)-Medium Term Visitor - Visa Exemption,Belgium,"Royal Thai Embassy, Brussels",2021-09-30T00:00:00,2021-10-29T00:00:00,2021-10-30T00:00:00,NaN,NaN,NaN
34748,34749,M,67,Belgian,11 (OA)-Long Stay Visitor (up to 1 year) (OA),Belgium,"Royal Thai Embassy, Brussels",2021-07-26T00:00:00,2021-08-08T00:00:00,2021-08-09T00:00:00,Pfizer – BioNTech,2021-05-06 00:00:00,2021-06-04 00:00:00
34749,34750,F,50,Thai,1-ผู้มีสัญชาติไทย,Belgium,"Royal Thai Embassy, Brussels",2021-06-14T00:00:00,2021-06-27T00:00:00,2021-06-28T00:00:00,Janssen (Johnson & Johnson),2021-06-01 00:00:00,NaN

In [30]:
travel = data_travel[['Sex','Age','Country_F','VaccineName']]
travel

      Sex  Age Country_F                  VaccineName
0       M   30  Cameroon                          NaN
1       M   41   Nigeria                  AstraZeneca
2       M   43   Nigeria                  AstraZeneca
3       M   30   Nigeria                  AstraZeneca
4       F   32  Cameroon            Pfizer – BioNTech
...    ..  ...       ...                          ...
34745   M   32   Belgium                          NaN
34746   F   49   Belgium                          NaN
34747   M    2   Belgium                          NaN
34748   M   67   Belgium            Pfizer – BioNTech
34749   F   50   Belgium  Janssen (Johnson & Johnson)

[34750 rows x 4 columns]

In [31]:
travel_dropped = travel.dropna()
travel_dropped

      Sex  Age Country_F                                       VaccineName
1       M   41   Nigeria                                       AstraZeneca
2       M   43   Nigeria                                       AstraZeneca
3       M   30   Nigeria                                       AstraZeneca
4       F   32  Cameroon                                 Pfizer – BioNTech
10      M   55  Cameroon                                 Pfizer – BioNTech
...    ..  ...       ...                                               ...
34739   F   44   Belgium                                 Pfizer – BioNTech
34742   F   42   Belgium                                          Moderna
34744   M   40   Belgium  AstraZeneca (AstraZeneca & University of Oxford)
34748   M   67   Belgium                                 Pfizer – BioNTech
34749   F   50   Belgium                       Janssen (Johnson & Johnson)

[15714 rows x 4 columns]

In [32]:
#travel[['VaccineName']] = travel[['VaccineName']].fillna('ไม่ระบุ') ##แทนค่า NaN เป็น ไม่ระบุ

In [33]:
travel_dropped.isnull().any()

Sex            False
Age            False
Country_F      False
VaccineName    False
dtype: bool

In [34]:
#ทำข้อมูลให้เหมือนกัน
travel_dropped['Sex'].replace({'F':'หญิง', 'M':'ชาย'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [35]:
travel_dropped

        Sex  Age Country_F                                       VaccineName
1       ชาย   41   Nigeria                                       AstraZeneca
2       ชาย   43   Nigeria                                       AstraZeneca
3       ชาย   30   Nigeria                                       AstraZeneca
4      หญิง   32  Cameroon                                 Pfizer – BioNTech
10      ชาย   55  Cameroon                                 Pfizer – BioNTech
...     ...  ...       ...                                               ...
34739  หญิง   44   Belgium                                 Pfizer – BioNTech
34742  หญิง   42   Belgium                                          Moderna
34744   ชาย   40   Belgium  AstraZeneca (AstraZeneca & University of Oxford)
34748   ชาย   67   Belgium                                 Pfizer – BioNTech
34749  หญิง   50   Belgium                       Janssen (Johnson & Johnson)

[15714 rows x 4 columns]

## รวมตาราง data_cr (ข้อมูลโควิดกับภูมิภาค) กับ travel_dropped (ข้อมูลที่หามาเอง)

In [36]:
data_cr_new= data_cr[['announce_date','sex','age','risk','province_of_onset','จำนวนผู้ติดเชื้อ','6 ภูมิภาค (ภูมิศาสตร์)']]
data_cr_new

,announce_date,sex,age,risk,province_of_onset,จำนวนผู้ติดเชื้อ,6 ภูมิภาค (ภูมิศาสตร์)
0,12/1/2020,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,571854,กลาง
1,17/1/2020,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,571854,กลาง
2,22/1/2020,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,71629,กลาง
3,22/1/2020,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,571854,กลาง
4,24/1/2020,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,571854,กลาง
...,...,...,...,...,...,...,...
3056668,18/3/2022,ไม่ระบุ,43.0,อื่นๆ,ไม่ระบุ,156639,ไม่ระบุ
3056669,18/3/2022,ไม่ระบุ,21.0,อื่นๆ,กรุงเทพมหานคร,571854,กลาง
3056670,18/3/2022,ไม่ระบุ,22.0,อื่นๆ,กรุงเทพมหานคร,571854,กลาง
3056671,18/3/2022,ไม่ระบุ,25.0,อื่นๆ,กรุงเทพมหานคร,571854,กลาง
3056672,18/3/2022,ไม่ระบุ,64.0,อื่นๆ,กำแพงเพชร,12908,กลาง